@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a; 
}

::-webkit-scrollbar-thumb {
  background: #FF6600; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



@layer base {
    html {
      @apply font-Roboto;
    }
  }

  @layer components {
    .link-primary {
      @apply text-xl text-textcollor dark:text-white dark:hover:text-Primary  hover:text-Primary transition-all ease-in-out;
    }
  }

  @layer components {
    .Button-primary {
      @apply bg-gradient-to-r from-Primary to-red-500 border-2  border-Primary dark:hover:to-neutral-800 dark:hover:from-neutral-800 text-white rounded-xl p-3 hover:to-white hover:from-white hover:text-Primary transition-all ease-in-out;
  
    }
  }

  @layer components {
    .Input-primary {
      @apply rounded-lg p-1  border-2 border-gray-300 focus:outline-orange-300 ;
  
    }
  }



  @keyframes animModal {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: scale(0);
    }
  
    45% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: scale(1);
    }
  
    70% {
      animation-timing-function: ease-in;
      transform: scale(0.84);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  
    
  }

  .animate-modal {
    animation: animModal 300ms ease-in-out 0s 1 normal forwards;
  }


  @keyframes animModalBack {
    0% {
      opacity: 0;
    }
  
    100% {
     opacity : 100;
    }
  }

  .animate-modal-background {
    animation: animModalBack 200ms ease-in-out 0s 1 normal forwards;
  }


  @keyframes animModal {
    0% {
      transform: translatey(-20%)
    }

    100%{
      transform: translatey(0)
    }
  }

  .animateModal {
    animation: animModal 100ms ease-in-out 0s  1 normal forwards;
  }


  @keyframes animModalClose {
    0% {
      transform: scale(1)
    }

    100%{
      transform: scale(0)
    }
  }

  .animateModalClose {
    animation: animModalClose 100ms ease-in-out 0s  1 normal forwards;
  }